@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*INDEX.HTML*/

* {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #869286;
}
header {
    background-color: #333333;
    display: flex;
}
header img{
    display: inline-block;
    width: 120px;
    margin-left: 280px;
    vertical-align: middle;
    padding: 25px;
}

header nav{
    height: 60px;
    margin-right: 280px;
    margin-left: 330px;
}
header li {
    text-transform: uppercase;
    padding-right: 35px;
    list-style-type: none;
    padding-top: 50px;
    float: right;
}
header a{
    font-weight: bold;
    text-decoration: none;
    color: #aaaaaa;
    font-size: 18px;
}
header a:hover{
    color: #ffff;
}
#content {
    margin-top: 75px;
    margin-bottom: 280px;
}

#mySlides {
    text-align: center;
}
#mySlides img{
    width: 1000px;
}
section {
    margin-left: 280px;
    margin-right: 280px;
    text-transform: uppercase;
}

#reflectionTitle {
    font-weight: bold;
    font-size: 30px;
    padding-left: 50px;
    vertical-align: middle;
}
.quotes {
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.quotes img{
    padding-left: 25px;
    width: 256px;
    float: right;
    vertical-align: middle;
}

.reflectionContent {

    font-weight: bold;
    text-align: justify;
    margin-bottom: 280px;
    text-indent: 2.0em;
}

#first {
    margin-right: 300px;
    vertical-align: middle;
}
#second {
    margin-right: 300px;
    vertical-align: middle;
}
#third { 
    font-size: 15.5px;
    vertical-align: middle;
}

footer {
    border-top: solid 1px;
    border-top-color: #869286;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #333333;
}
footer nav {
    margin-left: 280px;
    margin-right: 280px;
}
footer li{
    display: inline;
}
footer img{
    width: 35px;
}
#AboutUs {
    display: inline-block;
    text-transform: uppercase;
}
#AboutUs h3{
    letter-spacing: 0.1em;
    font-size: 15px;
    color: #aaaaaa;
}
#AboutUs p, a{
    text-decoration: none;
    color: #aaaaaa;
    font-size: 12px;
    text-align: justify;
}

#SocialMedia {
    float: right;
    text-transform: uppercase;
    display: block;
}
#SocialMedia h3{
    letter-spacing: 0.1em;
    font-size: 15px;
    color:#aaaaaa;
}

#copyright {
    margin-left: 280px;
    margin-right: 280px;
    text-align: center;
    padding-top: 50px;
    color: #aaaaaa;
}